<!-- direkt api/ adresine headerde start=0 ve end=10 parametreleri olacak şekilde request at kullanıcı sayfayı aşağı indirince 
    start=10 end=20 gibisinden query atmaya devam edersin -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>itü itiraf</title>
</head>
<body>
    <script>
        async function getData() {
            const response = await fetch('https://firatkizilboga.pythonanywhere.com/api');
            const data = await response.json();
            console.log(data);
          }
    </script>
    <h1>İTÜ'nün yeni itiraf sayfası</h1>
    <button id = "data_getter"></button>
    <script>
        const button = document.getElementById('data_getter');
        button.addEventListener('click', getData);
      </script>
</body>
</html>