{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/ee4f3021a8.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Montserrat:wght@400;700&family=Open+Sans:wght@300&family=Poppins:wght@200;400&family=Work+Sans:wght@300&display=swap"
        rel="stylesheet">
    <link href="{% static '/style.css' %}" rel="stylesheet">
    <script>
        async function signIn() {
            let url = `http://firatkizilboga.pythonanywhere.com/api/user`;
            
            const email = document.querySelector("#email").value;
            const password = document.querySelector("#password").value;
            
            const response = await fetch(url); // buraya api adresini yaz
            const data = await response.json();
            console.log(data); // datayla ne yapılacaksa yap



                   
        }
    </script>

    <title>Giriş Yap</title>
</head>

<body>
    <nav>
        <div class="nav-logo"><img  class="nav-logo-img" src="{% static '/İTÜ_logo.png'%}" alt=""></div>
        <div class="nav-menu">
            <ul class="nav-menu-links">
                <li><a class="nav-item" href="http://127.0.0.1:8000/">Anasayfa</a></li>
                <li><a class="nav-item" href="http://127.0.0.1:8000/confess">İtiraf Et</a></li>
                <li><a class="nav-item" href="http://127.0.0.1:8000/about">Hakkımızda</a></li>
                <li><a class="nav-item" href="http://127.0.0.1:8000/sign-up">Üye Ol</a></li>
                <li><a style="color: #4191eb;" class="nav-item" href="http://127.0.0.1:8000/sign-in">Giriş Yap</a></li>
            </ul>
        </div>
    </nav>

    <div class="home-display">
        <ul>
            <li class="conf-home"></li>
            <li class="conf-home"></li>
            <li class="conf-home"></li>
        </ul>
    </div>

    <div class="sign-up-container">
        <p class="p-header">SIGN IN</p>
        <div class="sign-up-input">
            <input class="input-box" type="email" placeholder="Email" id="email">
        </div>
        <div class="sign-up-input">
            <input class="input-box" type="password" placeholder="Şifre" id="password">
        </div>
        <div class="sign-up-btns">
            <button class="btn-conf btn-wide-light" onclick="window.location.href='http://127.0.0.1:8000/sign-up'">Üye Ol</button>
            <button class="btn-conf btn-wide-dark" onclick="signIn();">Giriş Yap</button>
        </div>
        

    </div>


    
    <script src="script.js"></script>
</body>

</html>