{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/ee4f3021a8.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Montserrat:wght@400;700&family=Open+Sans:wght@300&family=Poppins:wght@200;400&family=Work+Sans:wght@300&display=swap"
        rel="stylesheet">
    <link href="{% static '/style.css' %}" rel="stylesheet">

    <title>Document</title>
</head>

<body>
    <nav>
        <div class="nav-logo"><img  class="nav-logo-img" src="itu-logo-big.png" alt=""></div>
        <div class="nav-menu">
            <ul class="nav-menu-links">
                <li><a class="nav-item" href="">Anasayfa</a></li>
                <li><a class="nav-item" href="">İtiraf Et</a></li>
                <li><a class="nav-item" href="">Hakkımızda</a></li>
                <li><a class="nav-item" href="">Üye Ol</a></li>
                <li><a class="nav-item" href="">Giriş Yap</a></li>
            </ul>
        </div>
    </nav>

    <div class="home-display">
        <ul>
            <li class="conf-home"></li>
            <li class="conf-home"></li>
            <li class="conf-home"></li>
        </ul>
    </div>

    <div class="sign-up-container">
        <p class="sign-in-p">SIGN IN</p>
        <div class="sign-up-input">
            <input type="email" placeholder="Email">
        </div>
        <div class="sign-up-input">
            <input type="password" placeholder="Şifre">
        </div>
        <div class="sign-up-btns">
            <button class="btn-conf sign-up-page">Üye Ol</button>
            <button class="btn-conf sign-in-btn">Giriş Yap</button>
        </div>
        

    </div>


    
    <script src="script.js"></script>
</body>

</html>