{% extends 'confessions/base.html' %}

{% block content %}


    <div class="home-display">
        <ul>
            <li class="conf-home"></li>
            <li class="conf-home"></li>
            <li class="conf-home"></li>
        </ul>
    </div>

    <div class="sign-up-container">
        <p class="p-header">SIGN IN</p>
        <div class="sign-up-input">
            <input class="input-box" type="text" placeholder="Username" id="username">
        </div>
        <div class="sign-up-input">
            <input class="input-box" type="password" placeholder="Şifre" id="password">
        </div>
        <div class="sign-up-btns">
            <button class="btn-conf btn-wide-light" onclick="window.location.href='https://firatkizilboga.pythonanywhere.com/sign-up'">Üye Ol</button>
            <button class="btn-conf btn-wide-dark" onclick="signIn();">Giriş Yap</button>

        </div>
        

    </div>

    <script>
        async function signIn() {
            let url = `https://firatkizilboga.pythonanywhere.com/api/user/login`;
            
            const username = document.querySelector("#username").value;
            const password = document.querySelector("#password").value;
            
            let formData = new FormData()
            formData.append("password", password);
            formData.append("username", username);
            let statusCode;
            let data;
            //make a request to /api/user/create and get the json response and the status statusCode
            await fetch(url, {
                method: "POST",
                body: formData
            }).then(response => {
                statusCode = response.status;
                return response.json();
            }).then(json => {
                data = json;
            });
            console.log(statusCode);
            console.log(data);
            document.cookie = `token=${data.token}`;

            if(statusCode == 200)
            {
                window.location.href='https://firatkizilboga.pythonanywhere.com/sign-up';
            }
            if(statusCode == 400)
            {
                window.alert("Girdiğiniz bilgiler hatalıdır");  
                document.getElementById("password").value = "";
            }
        }
    </script>

{% endblock content %}